[submodule "HardwareSignalsLibrary"]
	path = HardwareSignalsLibrary
	url = https://github.com/sergey-bastrakov/HardwareSignalsLibrary.git
[submodule "HardwareSignalsInterceptor"]
	path = HardwareSignalsInterceptor
	url = https://github.com/sergey-bastrakov/HardwareSignalsInterceptor.git
[submodule "CommonLibraries"]
	path = CommonLibraries
	url = https://github.com/sergey-bastrakov/CommonLibraries.git
[submodule "UnityInputLibrary"]
	path = UnityInputLibrary
	url = https://github.com/sergey-bastrakov/UnityInputLibrary
[submodule "VFWLibrary"]
	path = VFWLibrary
	url = https://github.com/sergey-bastrakov/VFWLibrary
